<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';

const authStore = useAuthStore();
const email =  localStorage.getItem("email");
const username = localStorage.getItem("username");
const httpImg = (import.meta.env.VITE_BACKEND_URL)
const img = localStorage.getItem("img")
</script>
<template>
  <v-app-bar color="#1A0D00">

    <v-img class="mx-5"
      src="https://cdn.discordapp.com/attachments/746351727867068437/1061712209782251630/image-removebg-preview.png"
      max-height="60" max-width="60"></v-img>
    <v-app-bar-title class="title-color">D-COFFEE</v-app-bar-title>
    <template v-slot:append>
      <v-menu :close-on-back="false">
        <template v-slot:activator="{ props }">
          <v-btn v-bind="props" icon="mdi-account-circle" color="white" variant="flat"></v-btn>
        </template>

        <v-card min-width="250">
          <v-list>
            <v-list-item :prepend-avatar="`${httpImg}/users/image/${img}`"
          >
          <v-list-item-title>{{ username }}</v-list-item-title>
          <v-list-item-subtitle>{{ email }}</v-list-item-subtitle>
        </v-list-item>
          </v-list>

          <v-divider></v-divider>

          <v-list>
            <v-list-item prepend-icon="mdi-account-edit" title="Edit account" value="editUser" to="/user"
              v-ripple></v-list-item>
            <v-list-item prepend-icon="mdi-store" title="Store info" value="store"></v-list-item>
            <v-list-item prepend-icon="mdi-exit-to-app" title="Logout" value="logout" @click="authStore.logout" to="/login"></v-list-item>
          </v-list>

        </v-card>
      </v-menu>
    </template>
  </v-app-bar>
</template>

<style>
.title-color {
  color: white;
  font-family: Garamond;
  font-weight: bold;
  font-size: 28px;
}
</style>