<script lang="ts" setup>
import { useCustomerStore } from '@/stores/Customer';
import { useUploadImgStore } from '@/stores/UploadImg';
import { onMounted } from 'vue';
import CustomerDialog from './Dialog/CustomerDialog.vue';
import UploadImgDialog from './Dialog/UploadImgDialog.vue';
const httpImg = (import.meta.env.VITE_BACKEND_URL)
const CustomerStore = useCustomerStore();
const Upload = useUploadImgStore()
onMounted(async () => {
  await CustomerStore.GetCustomers();
});</script>
<template>
  <CustomerDialog></CustomerDialog>
  <UploadImgDialog></UploadImgDialog>
  <v-layout class="layout">
    <v-container class="justify-center text-center">
      <v-card class="edit-card1" width="97%" color="#534340" height="100">
        <v-row style="padding-right: 50px; padding-top: 25px; padding-left: 40px; " >
        <v-icon icon="mdi-account-group" size="45px" color="#FFCE45"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 5px;">จัดการลูกค้า</h1>
        
        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
      <!-- <v-row style="padding-right: 40px;">
        <v-col style="padding-left: 40px;">
          <v-text-field
            variant="plain"
            label="ค้นหารายชื่อ"
            prepend-inner-icon="mdi-magnify"
            style="color: white;"
          ></v-text-field>
        </v-col>

        <v-col class="text-left" >
          <v-btn color="#1464f6" prepend-icon="mdi-magnify" width="160px" height="50px" style="color: aliceblue; font-size: large;" class="ml-4">ค้นหา</v-btn>
        </v-col>
        <v-col class="text-right">
          <v-btn color="#92d36e" prepend-icon="mdi-plus-circle-outline" width="180px" height="50px" style="font-size: large;"
            >เพิ่มข้อมูล</v-btn
          >
        </v-col>
      </v-row>
      
      -->
    </v-card>
      
      <v-container>
        <v-row class="justify-center" style="padding-right: 50px; padding-top: 10px; " >
          <v-card

            width="100%"
            color="#AD8B73"
            rounded="xl"
            class="pt-4 elevation-4"
            height="79vh"

          >
            <v-container>
              <v-row style="padding-left: 15px; padding-right: 30px;">
                <v-card
                rounded="xl"
                class="mb-6 elevation-2 "
                color="#534340"
                height="50"
                width="100%"
                ><v-row style="padding-left: 30px;">
                  <v-col cols="1" class="mt-2 ml-4 text-left"
                    ><v-chip class="font-weight-black" color="white"
                      >ID</v-chip
                    ></v-col
                  >
                  <v-col cols="1" class="mt-2 text-left"
                    ><v-chip class="font-weight-black" color="white"
                      >Avartar</v-chip
                    ></v-col
                  >
                  <v-col cols="2" class="text-left pl-0 mt-2"
                    ><v-chip class="font-weight-black" color="white"
                      >Name</v-chip
                    ></v-col
                  >
                  <v-col cols="2" class="text-left pl-0 mt-2"
                    ><v-chip class="font-weight-black" color="white"
                      >Tel.</v-chip
                    ></v-col
                  >
                  <v-col cols="1" class="mt-2 text-left"
                    ><v-chip class="font-weight-black" color="white"
                      >Point</v-chip
                    ></v-col
                  >
                  <v-col cols="2" class="mt-2 text-left"
                    ><v-chip class="font-weight-black" color="white"
                      >Start Date</v-chip
                    ></v-col
                  >
                    <!-- <v-col cols="4" class="mt-2 text-left"
                    ><v-chip class="font-weight-black" color="indigo-darken-4"
                      >Option</v-chip
                    ></v-col 
                  > -->
                  <v-col cols="2" class="d-flex"
                    ><v-btn variant="plain" icon="mdi-magnify"></v-btn
                    ><v-btn variant="plain" icon="mdi-plus" @click="CustomerStore.dialog = true"></v-btn
                  ></v-col> </v-row
              ></v-card>
              </v-row>
              <v-row class="justify-center" style="padding-right: 30px;">
                <v-container class="h-screen  overflow-y-auto pa-2 pt-0 pb-0">
                <v-card
                  rounded="xl"
                  v-for="item of CustomerStore.Customers"
                  :key="item.id"
                  class="mb-6 elevation-2"
                  color="grey-lighten-4"
                  height="80"

                  
                >
                
                  <v-row class="pl-0 pr-0 ml-0 mr-0">
                    <v-col cols="1" class="text-left"
                      ><v-chip class="mt-6 ml-8" color="indigo-darken-4"
                        >{{ item.id }}</v-chip
                      ></v-col
                    >
                    <v-col cols="1">
                      
                      <v-hover v-slot="{ isHovering,props}">
                        <v-img class="mt-2 ml-3 elevation-2" v-bind="props"
                        
                        :src="`${httpImg}/customers/image/${item.image}`" height="60px" width="60px">
                        <v-expand-transition>
                            <v-btn
                              v-if="isHovering"
                              class=" transition-fast-in-fast-out bg-white "
                              style="height: 100%; opacity: 50%;"
                              @Click="Upload.EditImg(item.id!,'Customer')"
                            >Edit
                            
                            </v-btn>
                          </v-expand-transition>
                      </v-img>
                    
                    </v-hover>
                    </v-col>
                    <v-col cols="2" class="text-left"
                      ><v-chip class="mt-6 ml-8" color="indigo-darken-4"
                        >{{ item.name }}</v-chip
                      ></v-col
                    >
                    <v-col cols="2" class="text-left"
                      ><v-chip
                        class="mt-6 ml-5"
                        prepend-icon="mdi-vuetify"
                        color="indigo-darken-4"
                        >{{item.tel}}</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-left"
                      ><v-chip
                        class="mt-6 ml-10"
                        prepend-icon="mdi-vuetify"
                        color="indigo-darken-4"
                        >{{item.point}}</v-chip
                      ></v-col
                    >
                    <v-col cols="2" class="text-left"
                      ><v-chip
                        class="mt-6 ml-12"
                        prepend-icon="mdi-vuetify"
                        color="indigo-darken-4"
                        >{{item.createdDate}}</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-right mr-0 pr-0"
                      ><v-btn
                        color="#01579B"
                        class="mt-5 ml-16"
                        variant="tonal"
                        width="95"
                        @click="CustomerStore.editCustomer(item)"
                        >Edit</v-btn
                      ></v-col
                    >
                    <v-col cols="1" class="text-right"
                      ><v-btn
                        variant="tonal"
                        width="95"
                        class="mt-5 ml-10"
                        color="brown-darken-4"
                        @click="CustomerStore.deleteCustomer(item.id!)"
                      >
                        delete</v-btn
                      ></v-col
                    >
                  </v-row>
                </v-card>
              </v-container>
              </v-row>
              
            </v-container>
          </v-card>
        </v-row>
      </v-container>
    </v-container>
  </v-layout>
</template>

<style>
.layout {
  text-align: center;
  text-justify: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff1d7;
}
.edit-card1{
  border-radius: 15px 15px 15px 15px

}
.text-h4{
  color: black;
  font-size: 40px;
}
</style>