<script setup lang="ts">
import { useMaterialStore } from '@/stores/Material';
import { onMounted } from 'vue';
import MaterialDialog from './Dialog/MaterialDialog.vue';


const MaterialStore = useMaterialStore();
onMounted(async () => {
    await MaterialStore.getMaterial();
})
</script>
<template>
    <MaterialDialog/>
    <!--  -->
    <v-btn class="ma-2" @click="MaterialStore.dialog = true">New Material</v-btn>
    <v-table>
    <thead>
      <tr>
        <th class="text-center">
          Name
        </th>
        <th class="text-center">
          Quantity
        </th>
        <th class="text-center">
            Option
        </th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr
        v-for="item in MaterialStore.Material"
        :key="item.id"
      >
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td><v-btn>Check Material</v-btn><v-btn class="ml-3" @Click="MaterialStore.deleteProduct(item.id!)">Delete</v-btn></td>
      </tr>
    </tbody>
  </v-table>
</template>