<script lang="ts" setup>
import { useCustomerStore } from '@/stores/Customer';
import { onMounted } from 'vue';
import CustomerDialog from './Dialog/CustomerDialog.vue';

const CustomerStore = useCustomerStore();

onMounted(async () => {
  await CustomerStore.GetCustomers();
});
</script>
<template>
  <CustomerDialog></CustomerDialog>
  <v-layout class="layout">
    <v-container class="justify-center text-center">
      <v-card class="edit-card1" width="97%" color="#534340" height="100">
        <v-row style="padding-right: 50px; padding-top: 25px; padding-left: 40px; " >
        <v-icon icon="mdi-order-bool-ascending-variant" size="45px" color="#FFCE45"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 5px;">จัดการออร์เดอร์</h1>
        
        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
    </v-card>
      
      <v-container>
        <v-row class="justify-center" style="padding-right: 50px; padding-top: 10px; " >
          <v-card

            width="100%"
            color="#AD8B73"
            rounded="xl"
            class="pt-4 elevation-4"
            height="79vh"

          >
            <v-container>
              <v-row style="padding-left: 15px; padding-right: 30px;">
                <v-card
                rounded="xl"
                class="mb-6 elevation-2 "
                color="#534340"
                height="50"
                width="100%"
                ><v-row style="padding-left: 30px;">
                  <v-col cols="1" class="mt-2 ml-4 text-left"
                    ><v-chip class="font-weight-black" color="white"
                      >ID</v-chip
                    ></v-col
                  >
                  <v-col cols="1" class="text-left pl-0 mt-2"
                    ><v-chip class="font-weight-black" color="white"
                      >Date</v-chip
                    ></v-col
                  >
                  <v-col cols="1" class="text-left pl-0 mt-2"
                    ><v-chip class="font-weight-black" color="white"
                      >Cus. Name</v-chip
                    ></v-col
                  >
                  <v-col cols="1" class="text-left pl-0 mt-2"
                    ><v-chip class="font-weight-black" color="white"
                      >Orders</v-chip
                    ></v-col
                  >
                  <v-col cols="1" class="mt-2 text-left"
                    ><v-chip class="font-weight-black" color="white"
                      >Amount</v-chip
                    ></v-col
                  >
                  <v-col cols="1" class="mt-2 text-left"
                    ><v-chip class="font-weight-black" color="white"
                      >total</v-chip
                    ></v-col
                  >
                  <v-col cols="1" class="mt-2 text-left"
                    ><v-chip class="font-weight-black" color="white"
                      >Employee</v-chip
                    ></v-col
                  >
                  <v-col cols="1" class="mt-2 text-left"
                    ><v-chip class="font-weight-black" color="white"
                      >Payment</v-chip
                    ></v-col
                  >
                  
                  <v-col cols="2" class="d-flex"
                    ><v-btn variant="plain" icon="mdi-magnify"></v-btn
                    ><v-btn variant="plain" icon="mdi-plus" @click="CustomerStore.dialog = true"></v-btn
                  ></v-col> </v-row
              ></v-card>
              </v-row>
              <v-row class="justify-center" style="padding-right: 30px;">
                <v-container class="h-screen  overflow-y-auto pa-2 pt-0 pb-0">
                <v-card
                  rounded="xl"
                  v-for="item of CustomerStore.Customers"
                  :key="item.id"
                  class="mb-6 elevation-2"
                  color="grey-lighten-4"
                  height="80"

                  
                >
                  <v-row class="pl-0 pr-0 ml-0 mr-0 text-center">
                    <v-col cols="1" class="text-left"
                      ><v-chip class="mt-6 ml-10" color="indigo-darken-4"
                        >1</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-left"
                      ><v-chip class="mt-6 ml-6" color="indigo-darken-4"
                        >18-02-2023</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-left"
                      ><v-chip
                        class="mt-6 ml-6"
                        color="indigo-darken-4"
                        style="width: 110px;"
                        >John JoJo</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-left"
                      ><v-chip
                        class="mt-6 ml-6"
                        color="indigo-darken-4"
                        style="width: 160px;"
                        >ชาเขียวมัทชะ</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-left"
                      ><v-chip
                        class="mt-6 ml-12"
                        color="indigo-darken-4"
                        
                        >2</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-left"
                      ><v-chip
                        class="mt-6 ml-10"
                        color="indigo-darken-4"
                        >120.00</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-center justify-center"
                      ><v-chip 
                        label 
                        style="width: 95px; padding-left: 16px;"
                        class="mt-6 ml-10"
                        color="#00695C"
                        text-color="white"
                        variant="outlined"
                        >Jeeranan</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-center justify-center"
                      ><v-chip 
                        label 
                        style="width: 95px; padding-left: 28px;"
                        class="mt-6 ml-10"
                        color="#00695C"
                        text-color="white"
                        >เงินสด</v-chip
                      ></v-col
                    >
                    <v-col cols="1" class="text-right "
                      ><v-btn
                        color="#304FFE"
                        class="mt-5 ml-16"
                        variant="tonal"
                        width="95"
                        @click="CustomerStore.editCustomer(item)"
                        >Edit</v-btn
                      ></v-col
                    >
                    <v-col cols="1" class="text-right"
                      ><v-btn
                        variant="tonal"
                        width="95"
                        class="mt-5 ml-10"
                        color="#B71C1C"
                        @click="CustomerStore.deleteCustomer(item.id!)"
                      >
                        delete</v-btn
                      ></v-col
                    >
                  </v-row>
                </v-card>
              </v-container>
              </v-row>
              
            </v-container>
          </v-card>
        </v-row>
      </v-container>
    </v-container>
  </v-layout>
</template>

<style>
.layout {
  text-align: center;
  text-justify: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff1d7;
}
.edit-card1{
  border-radius: 15px 15px 15px 15px

}
.text-h4{
  color: black;
  font-size: 40px;
}
</style>