<script lang="ts" setup>
import { useUploadImgStore } from '@/stores/UploadImg';
import { useUserStore } from '@/stores/User';
import { onMounted } from 'vue';
import UserDialog from './Dialog/UserDialog.vue';
import UploadImgDialog from './Dialog/UploadImgDialog.vue';
const userStore = useUserStore();
const httpImg = (import.meta.env.VITE_BACKEND_URL)
const Upload = useUploadImgStore()
onMounted(async () => {
  await userStore.GetUser();
});

</script>
<template>
  <UserDialog></UserDialog>
  <UploadImgDialog></UploadImgDialog>
  <v-layout
    class="text-center justify-center"
    style="width: 100vw; background-color: #fff1d7"
  >
 
    <v-container style="padding-right: 80px;">
      <v-card width="100%" style="padding-right: 40px; padding-left: 40px;" height="100" color="#534340" class="edit-card1">
        <v-row>
        <v-icon icon="mdi-account-supervisor-outline" size="45px" color="#FFCE45" style="padding-top: 45px;"></v-icon>
        <h1 style="color: white; font-size: 32px; padding-left: 5px; padding-top: 24px;">จัดการผู้ใช้งานระบบ</h1>
        <v-divider class="border-opacity-100" style="color: white;"></v-divider>
      </v-row>
    </v-card>

      
      <v-container>
        <v-row class="justify-center" style="padding-top: 10px;">
          <v-card
            width="100%"
            color="#F0ECE3"
            rounded="xl"
            class="pt-4 elevation-4"
            height="78vh"
          >
            <v-container>
              <v-row style="padding-left: 30px; padding-right: 30px;">
                <v-card
                width="100%"
                rounded="xl"
                class="mb-6 elevation-2"
                color="#C1AC95"
                height="50"
                ><v-row>
                  <v-col cols="1" class="mt-2 ml-10 text-left"
                    ><v-chip class="font-weight-black" color="brown-darken-4"
                      >Avatar</v-chip
                    ></v-col
                  >
                  <v-col cols="2" class="pl-0 mt-2 text-left "
                    ><v-chip class="font-weight-black" color="brown-darken-4"
                      >Name</v-chip
                    ></v-col
                  >
                  <v-col cols="2" class="mt-2 ml-6 text-left "
                    ><v-chip class="font-weight-black" color="brown-darken-4"
                      >Tel.</v-chip
                    ></v-col
                  >
                  <v-col cols="1" class="mt-2 text-left"
                    ><v-chip class="font-weight-black" color="brown-darken-4"
                      >Role</v-chip
                    ></v-col
                  >
                  <v-col cols="2" class="mt-2 text-right ml-14"
                    ><v-chip class="font-weight-black" color="brown-darken-4"
                      >Option</v-chip
                    ></v-col
                  >
                  <v-col cols="2" class="d-flex"
                    ><v-btn variant="plain" icon="mdi-magnify" color="brown-darken-4"></v-btn
                    ><v-btn variant="plain" icon="mdi-plus" @click="userStore.dialog = true
          " color="brown-darken-4"></v-btn
                  ></v-col> </v-row
              ></v-card>
              </v-row>

              <v-container class="h-screen overflow-y-auto pt-0 pb-0">
                <v-card
                  rounded="xl"
                  v-for="item of userStore.User"
                  :key="item.id"
                  class="mb-6 elevation-2"
                  color="grey-lighten-4"
                  height="80"
                >
                
                  <v-row class="pl-0 pr-0 ml-0 mr-0">
                    <v-col cols="1"
                      >
                    <v-hover v-slot="{ isHovering,props}">
                        
                        <v-img class="mt-2 ml-3 elevation-2"
                        v-bind="props"
                        :src="`${httpImg}/users/image/${item.image}`" height="60px" width="60px">
                        <v-expand-transition>
                            <v-btn
                              v-if="isHovering"
                              class=" transition-fast-in-fast-out bg-white "
                              style="height: 100%; opacity: 50%;"
                              @Click="Upload.EditImg(item.id!,'User')"
                            >Edit
                            
                            </v-btn>
                          </v-expand-transition>
                      </v-img>
                    
                    </v-hover>
                 </v-col>
                    <v-col cols="2" class="text-left"
                      ><v-chip class="mt-6 ml-8" color="indigo-darken-4"
                        >{{ item.name }}</v-chip
                      ></v-col
                    >
                    <v-col cols="2" class=""
                      ><v-chip
                        class="mt-6"
                        prepend-icon="mdi-vuetify"
                        color="indigo-darken-4"
                        >{{ item.tel }}</v-chip
                      ></v-col
                    >
                    <v-col cols="2" class="text-left"
                      ><v-chip
                        class="mt-6 ml-16"
                        prepend-icon="mdi-vuetify"
                        color="indigo-darken-4"
                        >{{item.position}}</v-chip
                      ></v-col
                    >
                    <v-col cols="2" class="text-right mr-0 pr-0"
                      ><v-btn
                        color="#2962FF"
                        class="mt-5 "
                        variant="tonal"
                        width="95"
                        @click="userStore.editUser(item)">Edit</v-btn
                      ></v-col
                    >
                    <v-col cols="1" class="text-left"
                      ><v-btn
                        variant="tonal"
                        width="95"
                        class="mt-5"
                        color="#C62828"
                        @click="userStore.deleteUser(item.id!)">
                        delete</v-btn
                      ></v-col
                    >
                  </v-row>
                </v-card>
              </v-container>
            </v-container>
          </v-card>
        </v-row>
      </v-container>
      <!-- <v-row>
        <v-col cols="12">
          <v-table class="border">
            <thead style="background-color: #D68227; font-weight:bold;">
              <tr>
                <th>ลำดับ</th>
                <th>ชื่อพนักงาน</th>
                <th>เบอร์โทรศัพท์</th>
                <th>ตำแหน่ง</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>เฟย์ วิมุกติวรรณ</td>
                <td>0894561237</td>
                <td>เจ้าของร้าน</td>
                <td><v-btn class="mr-5" prepend-icon="mdi-pencil" color="#a8c6fa">แก้ไขข้อมูล</v-btn><v-btn
                    prepend-icon="mdi-delete-sweep" color="#ff8a84">ลบข้อมูล</v-btn></td>
              </tr>

            </tbody>
          </v-table>
        </v-col>
      </v-row> -->
    </v-container>
  </v-layout>
</template>
<style>
.edit-card1{
  border-radius: 15px 15px 15px 15px
}
</style>
