<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';

const authStore = useAuthStore();
</script>
<template>
  <v-navigation-drawer expand-on-hover rail permanent>
    <v-list density="compact" nav>
      <v-list-item prepend-icon="mdi-home" title="Home" value="home" to="/"></v-list-item>
      <v-list-item prepend-icon="mdi-storefront-outline" title="POS" value="pos" to="/pos"></v-list-item>
      <v-list-item prepend-icon="mdi-order-bool-ascending-variant" title="Orders" value="orders" to="/order"></v-list-item>
      <v-list-item prepend-icon="mdi-food" title="Products" value="products" to="/product"></v-list-item>
      <v-list-item prepend-icon="mdi-account-group-outline" title="Customers" value="customers" to="/customer"></v-list-item>
      <v-menu :close-on-back="false" location="end">
        <template v-slot:activator="{ props }">
          <v-list-item v-bind="props" prepend-icon="mdi-nutrition" title="Stocks" value="stock"></v-list-item>
        </template>
        <v-card min-width="250">
          <v-list>
            <v-list-item prepend-icon="mdi-cookie" title="Materials" value="material" to="/material"></v-list-item>
            <v-list-item prepend-icon="mdi-cookie-check" title="Check Materials" value="check material"></v-list-item>
            <v-list-item prepend-icon="mdi-cart-variant" title="Bill history" value="bill"></v-list-item>
          </v-list>
        </v-card>
      </v-menu>
      <v-menu :close-on-back="false" location="end">
        <template v-slot:activator="{ props }">
          <v-list-item v-bind="props" prepend-icon="mdi-account-multiple" title="Employee" value="employee"></v-list-item>
        </template>
        <v-card min-width="250">
          <v-list>
            <v-list-item prepend-icon="mdi-account" title="Employee info" value="employee" to="/employee"></v-list-item>
            <v-list-item prepend-icon="mdi-account-clock" title="Employee schedule"
              value="employee schedule"></v-list-item>
            <v-list-item prepend-icon="mdi-account-cash" title="Summary salary" value="summary salary"></v-list-item>
          </v-list>
        </v-card>
      </v-menu>
      
    </v-list>
  </v-navigation-drawer>
</template>